#captcha{
	display: none;
}

.my-error-class {
    border-color: red;
}
.my-valid-class {
    border-color: green;
}

#logPanel{
	margin-top: 15px;
}

div.input-group, div.margin-normal{
	margin-top:15px;
}

