#captcha{
	display: none;
}

.my-error-class {
    border-color: red;
}
.my-valid-class {
    border-color: green;
}

#logPanel{
	margin-top: 15px;
}

div.input-group, div.margin-normal{
	margin-top:15px;
}

/*Para engordar de alto botones u otras cosas...*/
button.engordar{
	padding-top: 15px;
	padding-bottom: 15px;
}

button.redondear{
	border-radius: 25px;
}