/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
      height: 480px
    }
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #fff;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

    /* Remove the jumbotron's default bottom margin */
    .jumbotron{


    }  

    .avatar {
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        background-size: 100% auto;
        align-self: auto;
      }

    #datos{
      font-size: 15px;
    }

    p.descripcion{
      text-align: justify;
      font-style: italic;
      font-size: 20px;
      text-indent: 25px;
    }


  


    #d{
      position: relative;
      left: -20px;
    }

    
    #banner, #breadcum {
      padding-bottom: 0;
      margin-bottom: 0px;
      padding-top: 0;
      margin-bottom: 0;
      
      background-image: url("../img/fondo.jpg");

    }

    #breadcum-div{
      text-align: right;
    }

    #bloque-inicio{
      margin-top: 10px;
    }

  
    #text-bloque-inicio{
      font-size: 34px;
    }



    .actual{
      background-color: #3C3B3B;
    }
    /*
    .actual .navbar-inverse .navbar-brand:hover {
    color: #fff;
    background-color: #3C3B3B;
	}*/

    #buscador{
      background-color: #3C3B3B;
      border-color: #3C3B3B;
      color: white;
    }


    button:hover #buscador{
      background-color:#646363;
      border-color: #3C3B3B;
    }

    #color-defecto{
      color: #A29F9F;
    }

    #color-defecto:hover{
      color: white;

    }

    #logo{
      padding-top: 20px;
      max-height:135px;
      max-width: 135px;
    }

    .jumbotron .h1, .jumbotron h1 {
      font-size: 63px;
    }
    
   


	img.imgP{
	  width: 50%;
	}

	.efecto-redondo:hover{
	  border-radius: 25px;
	  border-color: green;
	}

	/*Para engordar de alto botones u otras cosas...*/
	button.engordar{
	  padding-top: 15px;
	  padding-bottom: 15px;
	}

	button.redondear{
	  border-radius: 25px;
	}

	#login-button:hover{
	  background-color: #C5D6DB;
	}

	#reg-button:hover{
	  background-color: #BDDAAA;
	}